body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.navbar {
  width: 20%;
  height: 100vh;
  background-color: #011628;
  color: #fdfffc;
}

.logo-container {
  position: relative;
  height: 5rem;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.line-under-logo {
  color: #fdfffc;
  background-color: #fdfffc;
  display: block;
  position: relative;
  margin: 0 7%;
  height: 5px;
  border-radius: 10px;
}

.navbar-selections-container {
}

.navbar-selections > li {
}

.navbar-selections {
  list-style: none;
}

.navbar-subselections > li {
  color: #fdfffc;
}

.navbar-subselections {
  list-style: none;
}
